/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/packages/
/packages/*
/public/afra/
/resources/views/crud/fields/inc/
/public/crud/
/public/css/app.css
/public/js/app.js
/public/js/app.js.LICENSE.txt
